name: Simple GitHub Action Test

on:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print message
        run: echo "Hello from GitHub Actions! Action-repo is working perfectly."

      - name: Show date and time
        run: date
